<h2><%= t('.header', title: @test_eval.test.title) %></h2>

<% if @test_eval.success? %>
  <h1 class='green'> <%= @test_eval.percent.to_i %>% </h1>
  <h2><%= t('.success') %></h2>
<% else %>
  <h1 class='reddish'> <%= @test_eval.percent.to_i %>% </h1>
  <h2><%= t('.fail') %></h2>
<% end %>

<%= link_to t('.tests'), tests_path %>
