
<p class = 'nav user'><%= link_to t('test_guru'), tests_path %></p>
<% if user_signed_in? %>
  <p class = 'nav user'><%= t('.welcome') %> <b><%= current_user.name %></b></p>
  <p class = 'nav user'><%= link_to t('.logout'), destroy_user_session_path,
                                    method: :delete,
                                    data: { confirm: t('.confirm') } %></p>
<% else %>
  <p class = 'nav user'><%= link_to t('.sign_up'), new_user_registration_path %></p>
<% end %>
