<h3><%= t('.header', title: @question.test.title) %></h3>

<p>
  <strong><%= t('.text') %>:</strong>
  <%= @question.body %>
  <br>
  <%= link_to t('.edit'), edit_admin_question_path(@question) %>
</p>

<p><strong><%= t('.answers') %>:</strong></p>
<ol>
  <% @answer_options.each do |option| %>
    <li>
      <%= option.body %><br>
      <%= link_to t('show'), admin_answer_option_path(option) %> |
      <%= link_to t('edit'), edit_admin_answer_option_path(option) %>
    </li>
  <% end %>
</ol>

<%= link_to t('.add_option'), new_admin_question_answer_option_path(@question) %> |
<%= link_to t('.in_detail'), admin_question_answer_options_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test_id) %>

<p><%= link_to t('.delete'),
                admin_question_path(@question),
                method: :delete,
                data: { confirm: t('confirm') } %></p>
