<%= link_to 'Back to Question', question_path(@answer_option.question) %>

<p>
  <strong>Title:</strong>
  <%= @answer_option.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @answer_option.body %>
</p>

<p>
  <strong>Right:</strong>
  <%= @answer_option.correct %>
</p>

<%= link_to 'Edit', edit_answer_option_path(@answer_option) %> |
<%= link_to 'Delete',
            answer_option_path(@answer_option),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
