<p><%= link_to t('.back'), admin_question_path(@question) %></p>

<p><strong><%= t('.header') %>:</strong></p>

<table>
  <tr>
    <th><%= t('.prefix') %></th>
    <th><%= t('.text') %></th>
    <th><%= t('.right') %></th>
    <th colspan="2"><%= t('actions') %></th>
  </tr>

  <%= render @answer_options %>
</table>

<p><%= link_to t('.new_option'), new_admin_question_answer_option_path(params[:question_id]) %></p>
