<%= link_to t('.back'), admin_question_path(@answer_option.question) %>

<p>
  <strong><%= t('.prefix') %>:</strong>
  <%= @answer_option.title %>
</p>

<p>
  <strong><%= t('.text') %>:</strong>
  <%= @answer_option.body %>
</p>

<p>
  <strong><%= t('.right') %>:</strong>
  <%= @answer_option.correct %>
</p>

<%= link_to t('edit'), edit_admin_answer_option_path(@answer_option) %> |
<%= link_to t('delete'),
            admin_answer_option_path(@answer_option),
            method: :delete,
            data: { confirm: t('confirm') } %>
