<p>
  <strong><%= t('title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('category') %>:</strong>
  <%= @test.category&.title %>
</p>

<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('all_tests'), admin_tests_path %>

<p><strong><%= t('.questions') %>:</strong></p>
<ol>
  <%= render @test.questions %>
</ol>

<%= link_to t('.add_question'), new_admin_test_question_path(@test) %>
