
<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.text_field :title, id: :test_title %>
    <%= form.label :title %>
  </p>

  <p>
    <%= form.number_field :level, id: :test_level %>
    <%= form.label :level %>
  </p>

  <p>
    <%= form.collection_select :category_id, Category.all, :id, :title, include_blank: true %>
    <%= form.label :category_id %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
