<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category&.title %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Tests', tests_path %>

<p><strong>Questions:</strong></p>
<ol>
  <%= render @questions %>
</ol>

<%= link_to 'Add question', new_test_question_path(@test) %>
