<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class = 'nav user'>Welcome, Comrade <b><%= current_user.name %></b></p>
      <p class = 'nav user'><%= link_to 'Logout', close_session_path,
                                        method: :post,
                                        data: { confirm: "Sign out ?" } %></p>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
